<h1>Welcome</h1>
<div id="report_list_container">
    <ul id="report_list">
    </ul>
</div>

<script type="text/template" id="report-template" >
    <li><%= reporter_name %> says <%= location_name %> has <%= count %> people in line</li>
</script>
