<style>
  #report_entry_container {

  }
</style>
<h1>Welcome</h1>
<div id="dashboard">
    <a id="dashboard_link" href="#" style="display:none;">Dashboard</a>
    <a id="create_report" href="#report_entry">Create Report</a>
    <div id="report_entry_anchor"></div>
    <div id="report_list_container">
      <select id="sort_prop">
        <option value="createdAt">Age</option>
        <option value="reporter_name">Reporter</option>
        <option value="location_name">Location</option>
        <option value="id">Id</option>
        <option value="count">Count</option>
      </select>
      <select id="sort_dir">
        <option value="desc">Descending</option>
        <option value="asc">Ascending</option>
      </select>
      <ul id="report_list">
      </ul>
    </div>
</div>


<script type="text/x-handlebars-template" id="report_template" >
    <li>
      <a href="#reporter/<%= reporter_id %>"><%= reporter_name %></a> says <a href="#location/<%= location_id %>"><%= location_name %></a> has <%= count %> people <% if (line) { %> in line <% } else { %> inside <% } %></li>
</script>

<script type="text/x-handlebars-template" id="report_entry_template" >
    <div id="report_entry_container">
      <form id="report_entry">
        <input type="text" id="reporter" placeholder="Reporter name"></input>
        <select id="reporter">
        <% _.each(reporters, function(model) { %>
          <option value="<%= model.id %>"><%= model.name %></option>
        <% }); %>
        </select>
        <select id="location">
        <% _.each(locations, function(model) { %>
          <option value="<%= model.id %>"><%= model.name %></option>
        <% }); %>
        </select>
        <div id="count-slider-container">
          <input id="count" type="hidden"/>
          <div id="count-slider"></div>
          <p id="count-label"></p>
        </div>
        <div id="comp-slider-container">
          <input id="comp" type="hidden"/>
          <div id="comp-slider"></div>
          <p id="comp-label"></p>
        </div>
        <input id="line" type="checkbox">In line?</input>
        <input id="submit_report" type="button" value="Submit Report"/>
      </form>
   </div>
</script>
