<!DOCTYPE html>
<html>
  <head>
    <title>New Sails App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="/styles/importer.css">
  </head>

  <body>
    {{{ body }}}


    <script src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.11/require.min.js" data-main="/js/main"></script>


    <!--<script src="/js/dependencies/sails.io.js"></script>-->
    <!--<script src="/js/dependencies/jquery-1.11.2.min.js"></script>-->
    <!--<script src="/js/dependencies/underscore.js"></script>-->
    <!--<script src="/js/dependencies/backbone.js"></script>-->
    <!--<script src="/js/backbone/backbone_app.js"></script>-->
  </body>
</html>