<style>
.angular-google-map-container {
    height: 500px;
    width: 50%;
    float: right;
    position: fixed;
}

.hidden {
    display: none;
}
</style>
<div ng-controller="MapCtrl">
    <div id="map_msg" ng-hide="hideMapMsg">
        <p ng-if="mapAllowed">Please wait while the map loads</p>
        <p ng-if="!mapAllowed">Geolocation info is required to enable the report map</p>
    </div>
    <div id="mapContainer" ng-style="hiddenMap" ng-if="mapAllowed">
        <ui-gmap-google-map center='map.center' zoom='map.zoom'>
            <ui-gmap-markers models="mapMarkers" coords="'self'" options="'options'" pan="true" fit="false" doCluster="true">
                <ui-gmap-windows show="true">
                    <div ng-non-bindable>{{location}}</div>
                </ui-gmap-windows>
            </ui-gmap-markers>
        </ui-gmap-google-map>
    </div>
</div>