<div ng-controller="ReportFormCtrl">
	<form name="reportForm">
	    <h1>Create a New Report</h1>
	    <label for="location">Location</label>
	    <input type="text" id="location" class="form-control" ng-autocomplete ng-model="reportLocation" details="reportLocationDetails" options="reportLocationOptions"/></br>
	    <label for="content">Content:</label></br>
        <textarea id="content" ng-model="newReport.content"/></br>
	    <input type="button" ng-click="createLocationObj()" value="Submit" />
	</form>
</div>