<!DOCTYPE html>
<html ng-app="barBuddyApp">
  <head>
    <title>Bar Buddy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>

    <!--STYLES-->
    <!--STYLES END-->

    <!--TEMPLATES-->
    <!--TEMPLATES END-->

    <!--SCRIPTS-->
    <!--SCRIPTS END-->


  </head>

  <body ui-view>

    <snap-drawer>
      <div ng-controller="AuthenticationCtrl">
        <div ng-if="isAuthenticated()">
          <div ng-include="'/partials/report_form.html'"></div>
        </div>
        <div ng-if="!isAuthenticated()">
          <div ng-include="'/partials/auth_form.html'"></div>
        </div>
      </div>
    </snap-drawer>
    <snap-content style="background-color:white" snap-opt-dragger='null'>
      <div class="container" ng-view></div>
    </snap-content>

  </body>
</html>