.bbm-wrapper {
  background: rgba(0, 0, 0, 0.75);
  -webkit-transition: background-color 0.3s;
}

.bbm-modal {
  background: white;
  box-shadow: 0 0px 6px rgba(0, 0, 0, 0.6), 0 1px 2px rgba(0, 0, 0, 0.9);
}

/* BLOCKS */
.bbm-modal__topbar,
.bbm-modal__bottombar {
  padding: 0 30px;
}

.bbm-modal__topbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}
.bbm-modal__topbar > ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

.bbm-modal__tab {
  display: inline-block;
  padding: 15px 10px;
}
.bbm-modal__tab a {
  font-size: 16px;
  font-weight: bold;
  color: #999999;
}
.bbm-modal__tab a:hover, .bbm-modal__tab a.active {
  color: #222222;
}

.bbm-modal__title {
  padding: 20px 0 19px;
  margin: 0;
  font-weight: normal;
  font-size: 22px;
  line-height: 1em;
  color: #312d3a;
}

.bbm-modal__section {
  padding: 0 30px;
  margin-top: 0px;
  font-size: 16px;
  line-height: 26px;
  color: #575656;
}
.bbm-modal__section p {
  font-size: 16px;
  line-height: 26px;
  color: #575656;
}
.bbm-modal__section p:last-child {
  padding: 0;
  margin-bottom: 0;
}
.bbm-modal__section a {
  color: #ff643c;
}
.bbm-modal__section h3 {
  margin: 0;
  font-size: 20px;
  line-height: 1em;
}

.bbm-modal__bottombar {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 18px;
  text-align: right;
  margin-top: 30px;
}

/* MODULES */
.bbm-group {
  content: "";
  display: table;
  clear: both;
}

.bbm-button {
  display: inline-block;
  color: rgba(49, 45, 58, 0.8);
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  position: relative;
  line-height: 1em;
  padding: 10px 14px;
  border-radius: 3px;
  background: #fcfcfc;
  background-image: -o-linear-gradient(rgba(70, 30, 170, 0) 0%, rgba(65, 61, 75, 0.15) 100%);
  background-image: -moz-linear-gradient(rgba(70, 30, 170, 0) 0%, rgba(65, 61, 75, 0.15) 100%);
  background-image: -webkit-linear-gradient(rgba(70, 30, 170, 0) 0%, rgba(65, 61, 75, 0.15) 100%);
  background-image: -ms-linear-gradient(rgba(70, 30, 170, 0) 0%, rgba(65, 61, 75, 0.15) 100%);
  background-image: linear-gradient(rgba(70, 30, 170, 0) 0%, rgba(65, 61, 75, 0.15) 100%);
  -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1), inset 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1), inset 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1), inset 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
}
.bbm-button.inactive {
  opacity: 0.5;
  pointer-events: none;
}
.bbm-button:active {
  background-image: -o-linear-gradient(rgba(70, 30, 170, 0) 0%, rgba(65, 61, 75, 0.25) 100%);
  background-image: -moz-linear-gradient(rgba(70, 30, 170, 0) 0%, rgba(65, 61, 75, 0.25) 100%);
  background-image: -webkit-linear-gradient(rgba(70, 30, 170, 0) 0%, rgba(65, 61, 75, 0.25) 100%);
  background-image: -ms-linear-gradient(rgba(70, 30, 170, 0) 0%, rgba(65, 61, 75, 0.25) 100%);
  background-image: linear-gradient(rgba(70, 30, 170, 0) 0%, rgba(65, 61, 75, 0.25) 100%);
  -moz-box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.5), inset 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.5), inset 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.5), inset 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
}

/* ANIMATIONS */
/* Open modal */
@-webkit-keyframes bbm-open {
  0% {
    -webkit-transform: matrix(0.991, 0, 0, 0.991, 0, 43.881);
    opacity: 0.126;
  }

  4% {
    -webkit-transform: matrix(0.993, 0, 0, 0.993, 0, 45.068);
    opacity: 0.295;
  }

  8% {
    -webkit-transform: matrix(0.995, 0, 0, 0.995, 0, 46.269);
    opacity: 0.467;
  }

  12% {
    -webkit-transform: matrix(0.996, 0, 0, 0.996, 0, 47.334);
    opacity: 0.619;
  }

  16% {
    -webkit-transform: matrix(0.997, 0, 0, 0.997, 0, 48.2);
    opacity: 0.743;
  }

  20% {
    -webkit-transform: matrix(0.998, 0, 0, 0.998, 0, 48.861);
    opacity: 0.837;
  }

  24% {
    -webkit-transform: matrix(0.999, 0, 0, 0.999, 0, 49.337);
    opacity: 0.905;
  }

  28% {
    -webkit-transform: matrix(1.0, 0, 0, 1.0, 0, 49.66);
    opacity: 0.952;
  }

  32% {
    -webkit-transform: matrix(1.0, 0, 0, 1.0, 0, 49.868);
    opacity: 0.981;
  }

  36% {
    -webkit-transform: matrix(1.0, 0, 0, 1.0, 0, 49.99);
    opacity: 0.999;
  }

  40% {
    -webkit-transform: matrix(1.0, 0, 0, 1.0, 0, 50.054);
    opacity: 1.008;
  }

  44% {
    -webkit-transform: matrix(1.0, 0, 0, 1.0, 0, 50.08);
    opacity: 1.011;
  }

  48% {
    -webkit-transform: matrix(1.0, 0, 0, 1.0, 0, 50.084);
    opacity: 1.012;
  }

  52% {
    -webkit-transform: matrix(1.0, 0, 0, 1.0, 0, 50.076);
    opacity: 1.011;
  }

  56% {
    -webkit-transform: matrix(1.0, 0, 0, 1.0, 0, 50.063);
    opacity: 1.009;
  }

  60% {
    -webkit-transform: matrix(1.0, 0, 0, 1.0, 0, 50.048);
    opacity: 1.007;
  }

  64% {
    -webkit-transform: matrix(1.0, 0, 0, 1.0, 0, 50.035);
    opacity: 1.005;
  }

  68% {
    -webkit-transform: matrix(1.0, 0, 0, 1.0, 0, 50.024);
    opacity: 1.003;
  }

  72% {
    -webkit-transform: matrix(1.0, 0, 0, 1.0, 0, 50.016);
    opacity: 1.002;
  }

  76% {
    -webkit-transform: matrix(1.0, 0, 0, 1.0, 0, 50.009);
    opacity: 1.001;
  }

  80% {
    -webkit-transform: matrix(1.0, 0, 0, 1.0, 0, 50.005);
    opacity: 1.001;
  }

  84% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 50.002);
    opacity: 1.0;
  }

  88% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 50.001);
    opacity: 1.0;
  }

  92% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 50.0);
    opacity: 1.0;
  }

  96% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 49.999);
    opacity: 1.0;
  }

  100% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 50);
    opacity: 1;
  }
}

.bbm-modal--open {
  -webkit-animation-duration: 0.3s;
  -webkit-animation-name: bbm-open;
  -webkit-animation-timing-function: linear;
  -webkit-animation-fill-mode: both;
  -webkit-transform-origin: 50% 50%;
  -webkit-backface-visibility: hidden;
}

/* Open a stacked modal */
@-webkit-keyframes bbm-stacked {
  0% {
    -webkit-transform: matrix(0.999, 0, 0, 0.999, 0, 49.119);
    opacity: 0.937;
  }

  4% {
    -webkit-transform: matrix(0.997, 0, 0, 0.997, 0, 47.932);
    opacity: 0.852;
  }

  8% {
    -webkit-transform: matrix(0.995, 0, 0, 0.995, 0, 46.731);
    opacity: 0.766;
  }

  12% {
    -webkit-transform: matrix(0.994, 0, 0, 0.994, 0, 45.666);
    opacity: 0.69;
  }

  16% {
    -webkit-transform: matrix(0.993, 0, 0, 0.993, 0, 44.8);
    opacity: 0.629;
  }

  20% {
    -webkit-transform: matrix(0.992, 0, 0, 0.992, 0, 44.139);
    opacity: 0.581;
  }

  24% {
    -webkit-transform: matrix(0.991, 0, 0, 0.991, 0, 43.663);
    opacity: 0.547;
  }

  28% {
    -webkit-transform: matrix(0.99, 0, 0, 0.99, 0, 43.34);
    opacity: 0.524;
  }

  32% {
    -webkit-transform: matrix(0.99, 0, 0, 0.99, 0, 43.133);
    opacity: 0.509;
  }

  36% {
    -webkit-transform: matrix(0.99, 0, 0, 0.99, 0, 43.01);
    opacity: 0.501;
  }

  40% {
    -webkit-transform: matrix(0.99, 0, 0, 0.99, 0, 42.946);
    opacity: 0.496;
  }

  44% {
    -webkit-transform: matrix(0.99, 0, 0, 0.99, 0, 42.92);
    opacity: 0.494;
  }

  48% {
    -webkit-transform: matrix(0.99, 0, 0, 0.99, 0, 42.916);
    opacity: 0.494;
  }

  52% {
    -webkit-transform: matrix(0.99, 0, 0, 0.99, 0, 42.924);
    opacity: 0.495;
  }

  56% {
    -webkit-transform: matrix(0.99, 0, 0, 0.99, 0, 42.937);
    opacity: 0.496;
  }

  60% {
    -webkit-transform: matrix(0.99, 0, 0, 0.99, 0, 42.952);
    opacity: 0.497;
  }

  64% {
    -webkit-transform: matrix(0.99, 0, 0, 0.99, 0, 42.965);
    opacity: 0.497;
  }

  68% {
    -webkit-transform: matrix(0.99, 0, 0, 0.99, 0, 42.976);
    opacity: 0.498;
  }

  72% {
    -webkit-transform: matrix(0.99, 0, 0, 0.99, 0, 42.984);
    opacity: 0.499;
  }

  76% {
    -webkit-transform: matrix(0.99, 0, 0, 0.99, 0, 42.991);
    opacity: 0.499;
  }

  80% {
    -webkit-transform: matrix(0.99, 0, 0, 0.99, 0, 42.995);
    opacity: 0.5;
  }

  84% {
    -webkit-transform: matrix(0.99, 0, 0, 0.99, 0, 42.998);
    opacity: 0.5;
  }

  88% {
    -webkit-transform: matrix(0.99, 0, 0, 0.99, 0, 43.0);
    opacity: 0.5;
  }

  92% {
    -webkit-transform: matrix(0.99, 0, 0, 0.99, 0, 43.0);
    opacity: 0.5;
  }

  96% {
    -webkit-transform: matrix(0.99, 0, 0, 0.99, 0, 43.001);
    opacity: 0.5;
  }

  100% {
    -webkit-transform: matrix(0.99, 0, 0, 0.99, 0, 43);
    opacity: 0.5;
  }
}

.bbm-modal--stacked {
  -webkit-animation-duration: 0.433s;
  -webkit-animation-name: bbm-stacked;
  -webkit-animation-timing-function: linear;
  -webkit-animation-fill-mode: both;
  -webkit-transform-origin: 50% 50%;
  -webkit-backface-visibility: hidden;
}

/* destroy a stacked modal */
@-webkit-keyframes bbm-stacked-reverse {
  0% {
    -webkit-transform: matrix(0.991, 0, 0, 0.991, 0, 43.863);
    opacity: 0.562;
  }

  4% {
    -webkit-transform: matrix(0.993, 0, 0, 0.993, 0, 45.053);
    opacity: 0.647;
  }

  8% {
    -webkit-transform: matrix(0.995, 0, 0, 0.995, 0, 46.258);
    opacity: 0.733;
  }

  12% {
    -webkit-transform: matrix(0.996, 0, 0, 0.996, 0, 47.325);
    opacity: 0.809;
  }

  16% {
    -webkit-transform: matrix(0.997, 0, 0, 0.997, 0, 48.194);
    opacity: 0.871;
  }

  20% {
    -webkit-transform: matrix(0.998, 0, 0, 0.998, 0, 48.857);
    opacity: 0.918;
  }

  24% {
    -webkit-transform: matrix(0.999, 0, 0, 0.999, 0, 49.335);
    opacity: 0.952;
  }

  28% {
    -webkit-transform: matrix(1.0, 0, 0, 1.0, 0, 49.659);
    opacity: 0.976;
  }

  32% {
    -webkit-transform: matrix(1.0, 0, 0, 1.0, 0, 49.867);
    opacity: 0.991;
  }

  36% {
    -webkit-transform: matrix(1.0, 0, 0, 1.0, 0, 49.99);
    opacity: 0.999;
  }

  40% {
    -webkit-transform: matrix(1.0, 0, 0, 1.0, 0, 50.054);
    opacity: 1.004;
  }

  44% {
    -webkit-transform: matrix(1.0, 0, 0, 1.0, 0, 50.08);
    opacity: 1.006;
  }

  48% {
    -webkit-transform: matrix(1.0, 0, 0, 1.0, 0, 50.084);
    opacity: 1.006;
  }

  52% {
    -webkit-transform: matrix(1.0, 0, 0, 1.0, 0, 50.076);
    opacity: 1.005;
  }

  56% {
    -webkit-transform: matrix(1.0, 0, 0, 1.0, 0, 50.063);
    opacity: 1.004;
  }

  60% {
    -webkit-transform: matrix(1.0, 0, 0, 1.0, 0, 50.048);
    opacity: 1.003;
  }

  64% {
    -webkit-transform: matrix(1.0, 0, 0, 1.0, 0, 50.035);
    opacity: 1.003;
  }

  68% {
    -webkit-transform: matrix(1.0, 0, 0, 1.0, 0, 50.024);
    opacity: 1.002;
  }

  72% {
    -webkit-transform: matrix(1.0, 0, 0, 1.0, 0, 50.016);
    opacity: 1.001;
  }

  76% {
    -webkit-transform: matrix(1.0, 0, 0, 1.0, 0, 50.009);
    opacity: 1.001;
  }

  80% {
    -webkit-transform: matrix(1.0, 0, 0, 1.0, 0, 50.005);
    opacity: 1.0;
  }

  84% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 50.002);
    opacity: 1.0;
  }

  88% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 50.001);
    opacity: 1.0;
  }

  92% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 50.0);
    opacity: 1.0;
  }

  96% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 49.999);
    opacity: 1.0;
  }

  100% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 50);
    opacity: 1;
  }
}

.bbm-modal--stacked-reverse {
  -webkit-animation-duration: 0.433s;
  -webkit-animation-name: bbm-stacked-reverse;
  -webkit-animation-timing-function: linear;
  -webkit-animation-fill-mode: both;
  -webkit-transform-origin: 50% 50%;
  -webkit-backface-visibility: hidden;
}

/* destroy a modal */
@-webkit-keyframes bbm-destroy {
  0% {
    -webkit-transform: matrix(0.999, 0, 0, 0.999, 0, 49.119);
    opacity: 0.874;
  }

  4% {
    -webkit-transform: matrix(0.997, 0, 0, 0.997, 0, 47.932);
    opacity: 0.705;
  }

  8% {
    -webkit-transform: matrix(0.995, 0, 0, 0.995, 0, 46.731);
    opacity: 0.533;
  }

  12% {
    -webkit-transform: matrix(0.994, 0, 0, 0.994, 0, 45.666);
    opacity: 0.381;
  }

  16% {
    -webkit-transform: matrix(0.993, 0, 0, 0.993, 0, 44.8);
    opacity: 0.257;
  }

  20% {
    -webkit-transform: matrix(0.992, 0, 0, 0.992, 0, 44.139);
    opacity: 0.163;
  }

  24% {
    -webkit-transform: matrix(0.991, 0, 0, 0.991, 0, 43.663);
    opacity: 0.095;
  }

  28% {
    -webkit-transform: matrix(0.99, 0, 0, 0.99, 0, 43.34);
    opacity: 0.049;
  }

  32% {
    -webkit-transform: matrix(0.99, 0, 0, 0.99, 0, 43.133);
    opacity: 0.019;
  }

  36% {
    -webkit-transform: matrix(0.99, 0, 0, 0.99, 0, 43.01);
    opacity: 0.001;
  }

  40% {
    -webkit-transform: matrix(0.99, 0, 0, 0.99, 0, 42.946);
    opacity: -0.008;
  }

  44% {
    -webkit-transform: matrix(0.99, 0, 0, 0.99, 0, 42.92);
    opacity: -0.011;
  }

  48% {
    -webkit-transform: matrix(0.99, 0, 0, 0.99, 0, 42.916);
    opacity: -0.012;
  }

  52% {
    -webkit-transform: matrix(0.99, 0, 0, 0.99, 0, 42.924);
    opacity: -0.011;
  }

  56% {
    -webkit-transform: matrix(0.99, 0, 0, 0.99, 0, 42.937);
    opacity: -0.009;
  }

  60% {
    -webkit-transform: matrix(0.99, 0, 0, 0.99, 0, 42.952);
    opacity: -0.007;
  }

  64% {
    -webkit-transform: matrix(0.99, 0, 0, 0.99, 0, 42.965);
    opacity: -0.005;
  }

  68% {
    -webkit-transform: matrix(0.99, 0, 0, 0.99, 0, 42.976);
    opacity: -0.003;
  }

  72% {
    -webkit-transform: matrix(0.99, 0, 0, 0.99, 0, 42.984);
    opacity: -0.002;
  }

  76% {
    -webkit-transform: matrix(0.99, 0, 0, 0.99, 0, 42.991);
    opacity: -0.001;
  }

  80% {
    -webkit-transform: matrix(0.99, 0, 0, 0.99, 0, 42.995);
    opacity: -0.001;
  }

  84% {
    -webkit-transform: matrix(0.99, 0, 0, 0.99, 0, 42.998);
    opacity: 0.0;
  }

  88% {
    -webkit-transform: matrix(0.99, 0, 0, 0.99, 0, 43.0);
    opacity: -7e -5;
  }

  92% {
    -webkit-transform: matrix(0.99, 0, 0, 0.99, 0, 43.0);
    opacity: 0.0;
  }

  96% {
    -webkit-transform: matrix(0.99, 0, 0, 0.99, 0, 43.001);
    opacity: 0.0;
  }

  100% {
    -webkit-transform: matrix(0.99, 0, 0, 0.99, 0, 43);
    opacity: 0;
  }
}

.bbm-modal--destroy {
  -webkit-animation-duration: 0.433s;
  -webkit-animation-name: bbm-destroy;
  -webkit-animation-timing-function: linear;
  -webkit-animation-fill-mode: both;
  -webkit-transform-origin: 50% 50%;
  -webkit-backface-visibility: hidden;
}
